<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Bookbuddy" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= tag.link href: "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css", rel: "stylesheet" %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if notice %>
      <p style="color: green;"><%= notice %></p>
    <% end %>

    <% if alert %>
      <p style="color: red;"><%= alert %></p>
    <% end %>

    <% unless controller_name == "users" && action_name == "new" %>
    <nav style="background-color: #f4f4f4; padding: 10px;">
      <% if logged_in? %>
        <% user = current_user %>
        <span>Welcome, <strong><%= user.name %></strong>!</span> |
        <%= link_to "Home", books_path %> |
        <%= link_to "My Books", books_path %> |
        <%= link_to "Logout", logout_path, method: :delete, data: { turbo: false, confirm: "Are you sure?" } %>
      <% else %>
        <%= link_to "Login", login_path %> |
        <%= link_to "Sign Up", signup_path %>
      <% end %>
    </nav>
    <% end %>

    <%= yield %>
  </body>
</html>
